body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container{
    border-bottom: 2px solid black;
}

.container h2{
    text-align: center;

}

svg {
    background-color: #efefef;
}

.state {
    stroke: black;
    stroke-width: 1;

}

.state:hover {
    fill: red;
    cursor: pointer;
  }

.slides, ul {
    display:inline-block;
}
.slides {

    font-weight: bold;
}

select {
    position: relative;
}

ul {
    list-style: none;
}
.nav-item {
    display: inline-block;
    padding-right: 30px;
    color: Black;
}

.nav-item > a {
    color:black;
    background-color: mistyrose;
    padding: 5px;

}

.map-text {
    width: 70%;
    text-align: center;
    padding-top: 10px;
}

.slide1Info{
    list-style: decimal;
    text-align: left;
}

.nav-item > .active > a {
    color: grey;
    background-color: chartreuse;
  }
  .nav-item > a:hover {
    color: grey;
  }

.labelforX, .labelforY{

    font-size: 14px;
}
.labelforX {
    text-anchor: end;
}
.legend{
    stroke:rgba(128, 128, 128, 0.6);
    stroke-width: 1.5;
}

li::after{
    background-image: url('images/iconmonstr-arrow-24.svg');
    content: '';
}

.tick text {
    -webkit-transform: rotate(-45deg);
}

.labelforY {
    position: absolute;
    direction: rtl;
}

#tooltip{
    display: none;
    position: absolute;
    padding: 10px;
    background: rgba(255,255,204,0.9);
    box-shadow: 1px 1px 1px 2px rgba(128, 128, 128, 0.6);
    border-radius: 2px;
    width: 200;
    height: 200;
    z-index: 1000;
  }
