body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

svg {
    background-color: #efefef;
}

.state {
    fill: #e3e3e3;
    stroke: black;
    stroke-width: 0.5;
}